<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		{% block head %}
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
			<meta name="viewport" content="width=device-width" />
			<title>{% block title %}Groceries{% endblock %}</title>
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='icons/shopping-bag-114x114.png') }}" />
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='icons/shopping-bag-72x72.png') }}" />
			<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='icons/shopping-bag-57x57.png') }}" />
			{% block head_style %}
				<link charset="utf-8" href="{{ url_for('static', filename='screen.min.css') }}" rel="stylesheet" type="text/css" />
			{% endblock %}
			{% block head_script %}{% endblock %}
		{% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
		<div id="footer">
			{% block footer %}
				<a href="https://raw.github.com/Mytho/groceries/master/LISENCE.md">Copyright &copy; Teun Zengerink</a></a>
			{% endblock %}
		</div>
		{% block script %}{% endblock %}
  </body>
</html>
