{% extends "layout.html" %}
{% block content %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<form action="{{ url_for('login') }}" method="post">
			<input name="csrf" value="{{ csrf_token() }}" type="hidden">
			<input name="username" placeholder="Username" type="text" autocomplete="off">
			<input name="password" placeholder="Password" type="password">
			<button class="large primary" type="submit">LOGIN</button>
		</form>
		<div class="clearfix"></div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		(function (doc) {
			var f, i;
			f = doc.forms[0];
			for (i = 0; i < f.length; i++) {
				if (f[i].type != 'hidden' && f[i].value == '') {
					f[i].focus();
					return;
				}
			}
		})(document);
	</script>
{% endblock %}
