body {
  margin: 0;
  padding: 0;
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.disable-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
::-webkit-input-placeholder {
	color: #d2d7d9;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: #a0a2a4;
	text-decoration: none;
}
a:active,
a:hover {
	color: #00af89;
	text-decoration: underline;
}
input[type='text'],
input[type='password'] {
	display: block;
	height: 32px;
	width: 460px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	margin: 0 auto;
	color: #565f64;
	border: 2px solid #cdd4d8;
	border-radius: 0;
	font-size: 22px;
	outline: none;
	-webkit-appearance: none;
}
input[type='text']:focus,
input[type='password']:focus {
	border: 2px solid #00af89;
	background-color: #fff;
}
input[type='text'].warning,
input[type='password'].warning {
	border: 2px solid #ba281c;
}
input[type='checkbox'] {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type='checkbox'] + label {
	padding-left: 32px;
	display: inline-block;
	line-height: 20px;
	background-image: url('img/checkbox.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer;
}
input[type='checkbox']:checked + label {
	background-position: 0 -20px;
}
button {
	display: inline-block;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	background-color: #008f73;
	margin: 0;
	color: #fff;
	border: 0;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
button.large {
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 7px;
	padding-left: 16px;
	font-size: 18px;
}
button.warning {
	background-color: #ef5a4e;
}
form input {
	margin-bottom: 6px;
}
form button {
	float: right;
	margin-top: 10px;
}
.swipe-delete-overlay {
	display: none;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #f4f4f4;
	color: #f4f4f4;
	overflow: hidden;
}
.swipe-delete-overlay input[type="checkbox"] + label {
	background-image: none;
	cursor: default;
}
.swipe-delete-overlay button {
	display: block;
	position: absolute;
	top: 13px;
	right: 13px;
	background-color: #f4f4f4;
	color: #c4c4c4;
}
.swipe-delete-active .swipe-delete-overlay,
.swipe-delete-scheduled .swipe-delete-overlay {
	display: inline-block;
}
.swipe-delete-scheduled .swipe-delete-overlay {
	background-color: #f4f4f4;
	color: #c4c4c4;
}
.swipe-delete-active button {
	display: none;
}
div#content,
div#footer {
	width: 480px;
	margin: 0 auto;
}
div#content {
	padding-top: 10px;
	padding-bottom: 2px;
	background-color: #fff;
	color: #222e3e;
}
div#content input[type='text'] {
	margin-top: 6px;
	margin-bottom: 8px;
}
div#content li {
	position: relative;
	padding-bottom: 17px;
	border-bottom: 2px solid #f4f4f4;
	font-size: 25px;
}
div#content li label {
	display: inline-block;
	margin-top: 17px;
}
div#content li.bought label {
  text-decoration: line-through;
	color: #d2d7d9;
}
div#content ul#suggestions li {
	padding-top: 11px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
	cursor: pointer;
}
div#content ul.messages li {
	background-color: #ba281c;
	color: #fff;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
	border: 0;
}
div#footer {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 10px;
}
div#footer a {
	font-size: 11px;
}
@media screen and (max-device-width: 767px) {
	ul {
		padding-left: 10px;
		padding-right: 10px;
	}
	input[type='text'],
	input[type='password'] {
		width: 282px;
	}
	div#content,
	div#footer {
		width: 320px;
	}
}
