<div ng-controller="ListController">
	<input id="new-item" type="text" placeholder="What needs to be bought?" ng-blur="removeFocus()" ng-click="toggleFocus($event)" ng-keyup="keyup($event)" ng-model="inputValue">
	<ul id="groceries" ng-show="! inputFocused">
		<li ng-repeat="item in groceries" ng-class="{bought: item.isBought(), warning: isScheduledForDelete(item)}" ng-swipe-right="scheduleDelete($event, item, 3500)">
		<input class="buy" type="checkbox" ng-click="buy($event, item)" ng-checked="item.isBought()">
		<label ng-click="buy($event, item)">[[item.name]]</label>
		<button class="warning" ng-click="cancelDelete($event, item)">CANCEL</button>
		</li>
	</ul>
	<ul id="suggestions" ng-show="inputFocused">
		<li ng-repeat="item in suggestions | filter:inputValue" ng-click="add(item.name)">[[item.name]]</li>
	</ul>
</div>
